In [9]:
import pandas as pd
import numpy as np

### 1. Crear y visualizar un arreglo unidimensional como una estructura Series.

In [2]:
serie = pd.Series([1, 2, 3, 4, 5])
print(serie)

0    1
1    2
2    3
3    4
4    5
dtype: int64

### 2. Convertir un objeto Series a una lista Python.

In [3]:
lista = serie.tolist()
print(lista)

[1, 2, 3, 4, 5]

### 3. Aplicar las operaciones aritméticas básicas (suma, resta, multiplicación y división) sobre objetos Series.

In [4]:
serie2 = pd.Series([10, 20, 30, 40, 50])

suma = serie + serie2
print("Suma:\n", suma)

resta = serie - serie2
print("Resta:\n", resta)

multiplicacion = serie * serie2
print("Multiplicación:\n", multiplicacion)

division = serie / serie2
print("División:\n", division)

Suma:
 0    11
1    22
2    33
3    44
4    55
dtype: int64
Resta:
 0    -9
1   -18
2   -27
3   -36
4   -45
dtype: int64
Multiplicación:
 0     10
1     40
2     90
3    160
4    250
dtype: int64
División:
 0    0.1
1    0.1
2    0.1
3    0.1
4    0.1
dtype: float64

### 4. Usar operadores relacionales para comparar objetos Series.

In [7]:
comparacion = serie > serie2
print("Comparación:\n", comparacion)

Comparación:
 0    False
1    False
2    False
3    False
4    False
dtype: bool

### 5. Convertir un diccionario Python en un objeto Series.

In [8]:
diccionario = {'a': 1, 'b': 2, 'c': 3}
serie_diccionario = pd.Series(diccionario)
print(serie_diccionario)

a    1
b    2
c    3
dtype: int64

### 6. Convertir un arreglo NumPy en un objeto Series.

In [10]:
array = np.array([1, 2, 3, 4, 5])
serie_array = pd.Series(array)
print(serie_array)

0    1
1    2
2    3
3    4
4    5
dtype: int64

### 7. Cambiar el tipo de datos de un objeto Series.

In [11]:
serie_float = serie.astype(float)
print(serie_float)

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64

### 8. Convertir un objeto Series con múltiples listas en un único objeto Series.

In [ ]:
lista = [['Colombia', 'Perú', 'Argentina'], ['Bolivia', 'Uruguay'], ['Chile']]
serie_lista = pd.Series(lista)

serie_exploded = serie_lista.explode()

serie_exploded = serie_exploded.reset_index(drop=True)

print(serie_exploded)

0     Colombia
1         Perú
2    Argentina
3      Bolivia
4      Uruguay
5        Chile
dtype: object

### 9. Ordenar los valores de un objeto Series con el método sort_values.

In [13]:
serie_desordenada = pd.Series([3, 1, 4, 5, 2])
serie_ordenada = serie_desordenada.sort_values()
print(serie_ordenada)

1    1
4    2
0    3
2    4
3    5
dtype: int64

### 10. Agregar datos a un objeto Series existente.

In [43]:
serie_inicial = pd.Series(['Colombia', 'Perú', 'Argentina', 'Bolivia', 'Uruguay', 'Chile'])

nuevos_datos = pd.Series(['Brasil', 'Paraguay'])

serie_actualizada = pd.concat([serie_inicial, nuevos_datos], ignore_index=True)

print(serie_actualizada)

0     Colombia
1         Perú
2    Argentina
3      Bolivia
4      Uruguay
5        Chile
6       Brasil
7     Paraguay
dtype: object

### 11. Crea un objeto Series a partir de un filtro aplicado a otro objeto Series.

In [15]:
serie_filtrada = serie[serie > 2]
print(serie_filtrada)

2    3
3    4
4    5
dtype: int64

### 12. Cambiar el orden del índice de un objeto Series.

In [16]:
serie_reindexada = serie.reindex([4, 3, 2, 1, 0])
print(serie_reindexada)

4    5
3    4
2    3
1    2
0    1
dtype: int64

### 13. Obtener la desviación estándar y el promedio de un conjunto de datos de una serie.

In [17]:
promedio = serie.mean()
desviacion_estandar = serie.std()
print(f"Promedio: {promedio}, Desviación estándar: {desviacion_estandar}")

Promedio: 3.0, Desviación estándar: 1.5811388300841898

### 14. Calcular los valores mínimo y máximo de un objeto Series.

In [18]:
minimo = serie.min()
maximo = serie.max()
print(f"Mínimo: {minimo}, Máximo: {maximo}")

Mínimo: 1, Máximo: 5

### 15. Obtener estadísticas básicas de un objeto Series con el método describe.

In [19]:
estadisticas = serie.describe()
print(estadisticas)

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64

### 16. Obtener los elementos pares e impares de un objeto Series numérico.

In [45]:
serie_num = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

elementos_pares = serie_num[serie_num % 2 == 0]

# Filtrar los elementos impares
elementos_impares = serie_num[serie_num % 2 != 0]

print("Elementos pares:")
print(elementos_pares)

print("\nElementos impares:")
print(elementos_impares)

Elementos pares:
1     2
3     4
5     6
7     8
9    10
dtype: int64

Elementos impares:
0    1
2    3
4    5
6    7
8    9
dtype: int64

### 17. Extraer los datos de un objeto Series como un objeto NumPy.

In [22]:
array_numpy = serie.to_numpy()
print(array_numpy)

[1 2 3 4 5]

### 18. Comprobar si una serie contiene valores NaN.

In [23]:
serie_con_nan = pd.Series([1, 2, np.nan, 4, 5])
contiene_nan = serie_con_nan.isna().any()
print(f"Contiene NaN: {contiene_nan}")

Contiene NaN: True

### 19. Obtener el tamaño en bytes del espacio ocupado por los elementos de un objeto Series.

In [24]:
tamaño_bytes = serie.nbytes
print(f"Tamaño en bytes: {tamaño_bytes}")

Tamaño en bytes: 40

### 20. Eliminar los valores NaN de una serie con el método dropna.

In [25]:
serie_sin_nan = serie_con_nan.dropna()
print(serie_sin_nan)

0    1.0
1    2.0
3    4.0
4    5.0
dtype: float64

### 21. Calcular el valor absoluto de los elementos de un objeto Series.

In [26]:
serie_negativa = pd.Series([-1, -2, -3, -4, -5])
serie_absoluta = serie_negativa.abs()
print(serie_absoluta)

0    1
1    2
2    3
3    4
4    5
dtype: int64

### 22. Usar la función de agregación agg de un objeto Series.

In [27]:
agregados = serie.agg(['sum', 'mean', 'std'])
print(agregados)

sum     15.000000
mean     3.000000
std      1.581139
dtype: float64

### 23. Reemplazar los valores NaN (null) de una serie con un valor arbitrario.

In [28]:
serie_reemplazada = serie_con_nan.fillna(0)
print(serie_reemplazada)

0    1.0
1    2.0
2    0.0
3    4.0
4    5.0
dtype: float64

### 24. Obtener los primeros y últimos n elementos de un objeto Series.

In [48]:
n = 3

primeros_n_elementos = serie_actualizada.head(n)

ultimos_n_elementos = serie_actualizada.tail(n)

print("Primeros n elementos:")
print(primeros_n_elementos)

print("\nÚltimos n elementos:")
print(ultimos_n_elementos)

Primeros n elementos:
0     Colombia
1         Perú
2    Argentina
dtype: object

Últimos n elementos:
5       Chile
6      Brasil
7    Paraguay
dtype: object

### 25. Reemplazar por un valor arbitrario los valores de una serie que no satisfagan una condición.

In [30]:
serie_reemplazada_condicion = serie.where(serie > 2, other=0)
print(serie_reemplazada_condicion)

0    0
1    0
2    3
3    4
4    5
dtype: int64

### 26. Remover los valores que no cumplan una condición en un objeto Series.

In [31]:
serie_filtrada_condicion = serie[serie > 2]
print(serie_filtrada_condicion)

2    3
3    4
4    5
dtype: int64

### 27. Contar los valores repetidos en una serie.

In [33]:
serie_repetida = pd.Series([1, 2, 2, 3, 3, 4, 4, 4])
conteo_repetidos = serie_repetida.value_counts()
print(conteo_repetidos)

4    3
2    2
3    2
1    1
Name: count, dtype: int64

### 28. Convertir el contenido de un objeto Series en formato CSV (Comma Separated Values).

In [34]:
csv = serie.to_csv(index=False)
print(csv)

0
1
2
3
4
5

### 29. Aplicar una función sobre los elementos de un objeto Series.

In [35]:
serie_aplicada = serie.apply(lambda x: x * 2)
print(serie_aplicada)

0     2
1     4
2     6
3     8
4    10
dtype: int64

### 30. Encontrar los elementos que están dentro de un rango.

In [36]:
serie_rango = serie[(serie >= 2) & (serie <= 4)]
print(serie_rango)

1    2
2    3
3    4
dtype: int64

31. Remover los valores duplicados de un objeto Series con drop_duplicates.

In [37]:
serie_sin_duplicados = serie_repetida.drop_duplicates()
print(serie_sin_duplicados)

0    1
1    2
3    3
5    4
dtype: int64

### 32. Verificar con equals si dos series contienen los mismos elementos.

In [38]:
serie_igual = pd.Series([1, 2, 3, 4, 5])
son_iguales = serie.equals(serie_igual)
print(f"Son iguales: {son_iguales}")

Son iguales: True

### 33. Elimina los outliers dentro de la lista del ejercicio de ejemplo de Pandas.

In [ ]:
# tenemos una serie con outliers
serie_outliers = pd.Series([10, 12, 14, 16, 18, 1000, 20, 22, 24, 26])

# Calcular el rango intercuartil (IQR)
Q1 = serie_outliers.quantile(0.25)
Q3 = serie_outliers.quantile(0.75)
IQR = Q3 - Q1

# Definir los límites para los outliers
limite_inferior = Q1 - 1.5 * IQR
limite_superior = Q3 + 1.5 * IQR

# Filtrar los outliers
serie_sin_outliers = serie_outliers[(serie_outliers >= limite_inferior) & (serie_outliers <= limite_superior)]
print(serie_sin_outliers)

0    10
1    12
2    14
3    16
4    18
6    20
7    22
8    24
9    26
dtype: int64